@using System.Text.RegularExpressions;
<!--
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Programming</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
@foreach (var item in dirs)
{
        <div class="nav-item px-3">
                <NavLink class="nav-link" href=@Path.GetFileNameWithoutExtension(item)>
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @string.Join(" ", Regex.Split(Path.GetFileNameWithoutExtension(item), @"(?<!^)(?=[A-Z])"))
            </NavLink>
        </div>
}

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenu=!expandSubMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> parent
            </NavLink>
@if(expandSubMenu)
{
                <NavLink class="navbar-expand" href="">
                    <span class="oi oi-file" aria-hidden="true"></span> sub1
                </NavLink>
                <NavLink class="navbar-expand" href="">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> sub1
                </NavLink>
}
        </div>
    </nav>
</div>
-->


<div class="container">

<section class="section-content py-3">
	<div class="row">
		<aside class="col-lg-3"> 
<!-- ============= COMPONENT ============== -->
<nav class="sidebar card b-transparent  py-2 mb-4">
<ul class="nav flex-column" id="nav_accordion">
	<li class="nav-item">
		<a class="nav-link" href="#"> Link name </a>
	</li>
	<li class="nav-item has-submenu">
		<a class="nav-link" href="#"> Submenu links <i class="bi small bi-caret-down-fill"></i> </a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="#">Submenu item 1 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 2 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
		</ul>
	</li>
	<li class="nav-item has-submenu">
		<a class="nav-link" href="#"> More menus <i class="bi small bi-caret-down-fill"></i> </a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="#">Submenu item 4 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 5 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 6 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 7 </a></li>
		</ul>
	</li>
	<li class="nav-item has-submenu">
		<a class="nav-link" href="#"> Another submenus <i class="bi small bi-caret-down-fill"></i> </a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="#">Submenu item 8 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 9 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 10 </a></li>
		    <li><a class="nav-link" href="#">Submenu item 11 </a></li>
		</ul>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"> Demo link </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"> Menu item </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"> Something </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"> Other link </a>
	</li>
</ul>
</nav>
<!-- ============= COMPONENT END// ============== -->	
		</aside>
		

		
	</div>
</section>

</div><!-- container //  -->




@code {
    private string newDir => Path.GetFullPath(Path.Combine(Directory.GetCurrentDirectory(), @"..\Programming\Pages\"));
    private string[] dirs => Directory.GetFiles(newDir, "*.razor", SearchOption.AllDirectories);

/*
    private bool collapseNavMenu = true;
    private bool expandSubMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    */
}

